<div class="dashboard_hero" style="min-height:150px;">
                <div class="content">
                    <h2> Dashboard </h2>
                    <span> Welcome, <%=current_user.full_name %>👋</span>
                </div>
</div>