<%= render 'dashboard/dashbord_hero'%>
    <div class="w-64 flex flex-row gap-2 p-5 rounded-lg warning-box">
    <span class="material-symbols-outlined">
    info
    </span>
        <p> Please select a child to view their dashboard </p>
    </div>
