<%= render 'dashboard/dashbord_hero'%>

    <a href="/accounts" class="w-64 flex flex-row gap-2 p-5 rounded-lg warning-box">
    <span class="material-symbols-outlined">
    info
    </span>
        <p> Please select a child to view their dashboard </p>
            <span class="material-symbols-outlined">
            ads_click
            </span></a>

    </a>

