        <div class="l_sidebar flex flex-col pt-12 pb-24 gap-2 px-8">
        <!-- LOGO -->
            <a class="dashboard_logo pl-2" href="/">
            </a>

            <a href="/" class="flex gap-2 nav_item" > 
               <span class="material-symbols-outlined">
                    dashboard
                </span>
                Dashboard
            </a>

        <!-- COACH USER ITEMS -->
        <%if current_user.role == 'coach'%>
        

        <!-- PARENT USER ITEMS -->
        <%elsif current_user.role == 'athlete_parent'%>
            <a href="/accounts" class="flex gap-2 nav_item">
                <span class="material-symbols-outlined">
                supervised_user_circle
                </span>
                Child Profile
            </a>
            <a href="#" class="flex gap-2 nav_item">
               <span class="material-symbols-outlined">
                bar_chart
                </span>
                Progress
            </a>
        <!-- CHILD USER ITEMS -->
        <%elsif current_user.role == 'child_athlete'%>
        <a href="#" class="flex gap-2 nav_item">
               <span class="material-symbols-outlined">
                bar_chart
                </span>
                Progress
            </a>
        <!-- ATHLETE USER ITEMS -->
        <%elsif current_user.role == 'athlete'%>
            <a href="#" class="flex gap-2 nav_item">
               <span class="material-symbols-outlined">
                bar_chart
                </span>
                Progress
            </a>

        <%else%>
        <%end%>
        <!-- LOGOUT -->
            <div  class="flex gap-2 nav_item mt-auto">
                <span class="material-symbols-outlined">
                logout
                </span>
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "" %>
            </div>
        
        </div>