        <div class="l_sidebar flex flex-col pt-12 pb-24 gap-2 px-8" id="sidebar">
        <!-- LOGO -->
            <a class="dashboard_logo pl-2" href="/">
            </a>

            <a href="/" class="flex gap-2 nav_item" > 
               <span class="material-symbols-outlined">
                    dashboard
                </span>
                Dashboard
            </a>

        <!-- ADMIN USER ITEMS -->
        <%if current_user.role == 'admin'%>
        <a href="/accounts/all_accounts" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
                manage_accounts
            </span>
            All accounts
        </a>

        <a href="/subscriptions" class="flex gap-2 nav_item hidden">
            <span class="material-symbols-outlined">
            wallet
            </span>
            Subscriptions
        </a>
        <a href="/kpis" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
            data_exploration
            </span>
            KPI's
        </a>
         <a href="/coach_calendar" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
            calendar_month
            </span>
            Calendars
        </a>

        <a href="/time_slots" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
            work_history
            </span>
            Time Slots
        </a>
        
        
         <a href="/questionnaires/reports" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
            description
            </span>
            Reports
        </a>
        <a href="/taster_session_bookings" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
            sprint
            </span>
            Taster Sessions
        </a>
        

        <!-- COACH USER ITEMS -->
        <%elsif current_user.role =='coach'%>
        <a href="/accounts/all_accounts" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
                manage_accounts
            </span>
            All accounts
        </a>
        
        <a href="/coach_calendar" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
            calendar_month
            </span>
            Calendar
        </a>

        <!-- PARENT USER ITEMS -->
        <%elsif current_user.role == 'parent_user'%>
            <a href="/accounts" class="flex gap-2 nav_item">
                <span class="material-symbols-outlined">
                supervised_user_circle
                </span>
                Child Profile
            </a>
            <a href="#" class="flex gap-2 nav_item hidden">
               <span class="material-symbols-outlined">
                credit_card
                </span>
                Subscription
            </a>
        <!-- CHILD USER ITEMS -->
        <%elsif current_user.role == 'child_user'%>
        <% if !current_user.athlete_profile.nil?%>
        <a href="/athlete_profiles/<%=current_user.athlete_profile.id%>" class="flex gap-2 nav_item">
               <span class="material-symbols-outlined">
                bar_chart
                </span>
                Progress
            </a>
            
        <%end%>
        <a href="users/<%=current_user.id%>" class="flex gap-2 nav_item">
            <span class="material-symbols-outlined">
            face
            </span>
            Profile
        </a>
        <!-- ATHLETE USER ITEMS -->
        <%elsif current_user.role == 'athlete'%>
            <a href="/athlete_profiles/<%=current_user.athlete_profile.id%>" class="flex gap-2 nav_item">
               <span class="material-symbols-outlined">
                account_circle
                </span>
                Profile
            </a>
        <%else%>
        <%end%>
        <!-- LOGOUT -->
            <div  class="flex gap-2 nav_item mt-auto">
                <span class="material-symbols-outlined">
                logout
                </span>
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "" %>
            </div>
        
        </div>