# .dockerignore

# Ignore bundler config
/.bundle

# Ignore log files
/log/*
/tmp

# Ignore node_modules
/node_modules

# Ignore local environment files
.env

# Ignore test files
/test

# Ignore other unnecessary files
*.md
