<%= form_with(url: search_path, method: :post ,class:'w-60', data:{
    controller: 'search',
    action: 'key->search#suggestions',
    suggestions_url:search_suggestions_path
}) do |form| %>

    <div class="relative">
        <%= form.text_field :query, data:{
            search_target: "input",
            action:"blur->search#hideSuggestions",},
            class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6",
            placeholder:"Search Athlete..",
            autocomplete:"off"%>
        <%= form.submit "Search"%>
        <div>
            
        </div>
    </div>

<%end%>