---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/subscriptions/BRT01KJ72NZYRSK6DSY0GVHTR873Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Gocardless-Client-Library:
      - gocardless-pro-ruby
      Gocardless-Client-Version:
      - 4.2.0
      Authorization:
      - Bearer <GOCARDLESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1600'
      Ratelimit-Remaining:
      - '1599'
      Ratelimit-Reset:
      - Tue, 24 Feb 2026 06:02:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Resource not found","errors":[{"reason":"resource_not_found","message":"Resource
        not found"}],"documentation_url":"https://developer.gocardless.com/api-reference#resource_not_found","type":"invalid_api_usage","request_id":"23BF3277B9B8_0A147E2A1F92_699D3E9B_01E90001","code":404}}'
  recorded_at: Tue, 24 Feb 2026 06:01:58 GMT
recorded_with: VCR 6.4.0
