---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/billing_requests
    body:
      encoding: UTF-8
      string: '{"billing_requests":{"payment_request":{"description":"new payment","amount":200,"currency":"GBP"},"mandate_request":{"scheme":"bacs"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Gocardless-Client-Library:
      - gocardless-pro-ruby
      Gocardless-Client-Version:
      - 4.2.0
      Authorization:
      - Bearer <GOCARDLESS_TOKEN>
      Idempotency-Key:
      - c630ba04-6509-427a-9658-03dd136ba0ff
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - "/enterprise/billing_requests/BRQ01KJ4H2F7XA5YQMVQBKVNFKDB4"
      Etag:
      - W/"2173a619c2ace912756be429ba9d4add"
      Ratelimit-Limit:
      - '1600'
      Ratelimit-Remaining:
      - '1599'
      Ratelimit-Reset:
      - Mon, 23 Feb 2026 05:56:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"billing_requests":{"id":"BRQ01KJ4H2F7XA5YQMVQBKVNFKDB4","created_at":"2026-02-23T05:55:34.267Z","status":"pending","mandate_request":{"consent_type":null,"currency":"GBP","constraints":null,"scheme":"bacs","sweeping":false,"verify":"recommended","links":{},"metadata":{},"description":null,"payer_requested_dual_signature":false},"payment_request":{"description":"new
        payment","currency":"GBP","amount":200,"min_amount":null,"max_amount":null,"default_min_amount":null,"default_max_amount":null,"app_fee":null,"scheme":"faster_payments","links":{},"metadata":{},"flexible_amount":false,"reference":null,"funds_settlement":"managed","retry_if_possible":false},"subscription_request":null,"instalment_schedule_request":null,"metadata":null,"links":{"customer":"CU01KJ4H2F74TP17BB6Y3VB18S6P","customer_billing_detail":"CBD01KJ4H2F7K89GFGAHNAEN5QSF3","creditor":"CR01KJ23VTDBS191WD1X9N1N0HKD","organisation":"OR01KJ23VTBBMK4HF6K5R3G7A4H0","payment_request":"PRQ01KJ4H2F7VZDQKR","mandate_request":"MRQ01KJ4H2F7P3436H"},"fallback_enabled":false,"fallback_occurred":false,"sign_flow_url":null,"auto_fulfil":true,"creditor_name":"Goadway","actions":[{"type":"choose_currency","required":true,"completes_actions":[],"requires_actions":[],"status":"completed","available_currencies":["GBP","EUR"]},{"type":"collect_amount","required":true,"completes_actions":[],"requires_actions":[],"status":"completed"},{"type":"collect_customer_details","required":true,"completes_actions":[],"requires_actions":["choose_currency","collect_amount"],"status":"pending","collect_customer_details":{"incomplete_fields":{"customer":["email","given_name","family_name"],"customer_billing_detail":["address_line1","city","postal_code","country_code"]},"default_country_code":"GB"}},{"type":"select_institution","required":true,"completes_actions":[],"requires_actions":[],"status":"pending","institution_guess_status":"pending"},{"type":"collect_bank_account","required":true,"completes_actions":["choose_currency"],"available_country_codes":["GB"],"requires_actions":["collect_amount"],"status":"pending"},{"type":"confirm_payer_details","required":true,"completes_actions":[],"requires_actions":["collect_customer_details","collect_bank_account"],"status":"pending"},{"type":"bank_authorisation","required":true,"completes_actions":[],"requires_actions":["select_institution","collect_customer_details"],"status":"pending","bank_authorisation":{"authorisation_type":"payment","adapter":"open_banking_gateway_pis"}}],"resources":{"customer":{"id":"CU01KJ4H2F74TP17BB6Y3VB18S6P","created_at":"2026-02-23T05:55:34.242Z","email":null,"given_name":null,"family_name":null,"company_name":null,"language":"en","phone_number":null,"metadata":{}},"customer_billing_detail":{"id":"CBD01KJ4H2F7K89GFGAHNAEN5QSF3","created_at":"2026-02-23T05:55:34.258Z","address_line1":null,"address_line2":null,"address_line3":null,"city":null,"region":null,"postal_code":null,"country_code":null,"swedish_identity_number":null,"danish_identity_number":null}},"experimentation":{"is_eligible_for_share_of_wallet_experiments":true}}}'
  recorded_at: Mon, 23 Feb 2026 05:55:34 GMT
recorded_with: VCR 6.4.0
