<div id="<%= dom_id athlete_level_category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Athlete level:</strong>
    <%= athlete_level_category.level_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Kpi category:</strong>
    <%= athlete_level_category.category_name %>
  </p>
</div>
