<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">

  <% content_for :title, "Editing competition" %>

    <div class="md:w-2/3 w-full">

      <%= render "form" , competition: @competition %>
    </div>
</div>