

<button id="dropdownNotificationButton" class="relative inline-flex items-center" type="button">
 <span class="material-symbols-outlined icon_span">notifications</span>
 <%if !@notifications.blank?%>
    <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold  bg-orange-700  rounded-full -top-2 -end-2 dark:border-gray-900">
                                    <%= @notifications.count %>
    </div>
    <%else%>
  
  <%end%>



</button>

<!-- Dropdown menu -->
<div id="dropdownNotification" class="z-20 hidden w-full max-w-sm divide-y divide-gray-100 rounded-lg notifications-container" >
  <div class="block px-4 py-2 font-medium text-center  rounded-t-lg ">
      Notifications
  </div>
  <%if !@displayed_notifications.nil?%>
    <%@displayed_notifications.each do |notification|%>
    <div class="divide-y divide-gray-100 dark:divide-gray-500">
      <a href="#" class="flex px-4 py-3 noty-container" id="<%=notification.notifiable_id%>">
        <div class="w-full ps-3">
            <div class=" text-sm mb-1.5 "><%=notification.body%></div>
            <div class="text-xs text-blue-600 dark:text-blue-500"><%=notification.updated_at%></div>
        </div>
      </a>
    </div>

    <%end%>
  <%else%>
  <div class="divide-y divide-gray-100 dark:divide-gray-500">
    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
      <div class="w-full ps-3">
          <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400">You have no notifcations.</div>
      </div>
    </a>
  </div>

  <%end%>
  <!-- View All notifications button disabled now until needed -->
  <a href="#" class="hidden block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
    <div class="inline-flex items-center ">
      <svg class="w-4 h-4 me-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
        <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
      </svg>
        View all
    </div>
  </a>
</div>

<script>
document.addEventListener("turbo:load", function() {

    const dropdownButton = document.getElementById("dropdownNotificationButton");
    const dropdownMenu = document.getElementById("dropdownNotification");

    console.log(dropdownButton)

    dropdownButton.addEventListener("click", function() {
      console.log("clicked")
        dropdownMenu.classList.toggle("hidden");        
    });
  });

</script>