<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
<p style="color: green"><%= notice %></p>
<%= link_to time_slots_path, class: '' do %>
    <%= render 'components/back_button' %>
  <% end %>

<%= render @time_slot %>

</div>