


<% if current_user.role == 'admin' && !@levels.nil? %>
<div class="">
    <h3 class="text-lg font-bold py-3">Create KPI's</h3>
    <a onclick="addKpi();" class=" flex flex-row mx-auto gap-2">
                            <span class="material-symbols-outlined">
                            add_circle
                            </span>
                            <span> Add a new KPI</span>
    </a>
</div>
<div class="relative overflow-x-auto general_card">
    <table class="w-full text-sm text-left " style="padding:0;margin:0;">
        <thead class="text-xs uppercase table_header">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Level
                </th>
                <th scope="col" class="px-6 py-3">
                    Check List
                </th>
                <th scope="col" class="px-6 py-3">
                    Degree
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <% @levels.each do |level| %>
                <tr class="border-b ">
                    <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
                        <%=level.title%>
                    </th>
                    <td class="px-6 py-4">
                      <% level.check_lists.each do |checklist| %>
                          <li style="list-style:none;" class="flex flex-row gap-2">
                          <span class="material-symbols-outlined">
                          check_circle
                          </span>
                          <div>
                            <%= checklist.title %>
                          </div>
                          </li>
                      <% end %>
                    </td>
                    <td class="px-6 py-4">
                        <%=level.degree%>
                    </td>
                    <td class="px-6 py-4">
                    <!-- hidden until edit is implemented -->
                        <span class="material-symbols-outlined" style="visibility:hidden">
                            edit
                        </span>
                    <a href="kpis/<%=level.id%>" class="material-symbols-outlined">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>
<%end%>

