<% content_for :title, "Editing athlete level" %>

<div class="min-h-screen flex flex-col items-center justify-center p-4 ">
  <div class="max-w-4xl w-full rounded-xl  p-8">
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold text-gray-800 mb-2">Edit Athlete Level</h1>
      <div class="w-20 h-1 bg-blue-500 mx-auto"></div>
    </div>

    <%= render "form", athlete_level: @athlete_level %>

  </div>
</div>