<% content_for :title, "New athlete level" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New athlete level</h1>

  <%= render "form", athlete_level: @athlete_level %>

  <%
=begin%>
 <%= link_to "Back to athlete levels", athlete_levels_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %> 
<%
=end%>
</div>
