<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <% icon = {
    notice: {
      path: "M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z",
      viewBox: "0 0 24 24"
    },
    alert: {
      path: "M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z",
      viewBox: "0 0 24 24"
    },
    success: {
      path: "M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z",
      viewBox: "0 0 24 24"
    },
    error: {
      path: "M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z",
      viewBox: "0 0 24 24"
    }
  }[type.to_sym] || {
    path: "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9",
    viewBox: "0 0 24 24"
  } %>

  <div
    data-controller="flash"
    data-flash-delay-value="3000"
    class="fixed inset-x-0 top-4 mx-auto z-50 w-full max-w-md"
  >
    <div class="bg-white border border-gray-200 rounded-lg shadow-xl overflow-hidden transition-all duration-500 ease-[cubic-bezier(0.25,0.1,0.25,1)] transform translate-y-0 opacity-100"
         style="transform-origin: top center;">
      <div class="flex items-start p-4">
        <div class="flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-800" fill="none" viewBox="<%= icon[:viewBox] %>" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="<%= icon[:path] %>" />
          </svg>
        </div>
        <div class="ml-3 flex-1 pt-0.5">
          <p class="text-sm font-medium text-gray-900">
            <%= message %>
          </p>
        </div>
        <div class="ml-4 flex-shrink-0 flex">
          <button data-action="flash#hide" class="inline-flex text-gray-400 hover:text-gray-500 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div data-flash-target="progress" class="h-0.5 bg-gray-200 w-full"></div>
    </div>
  </div>
<% end %>