<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Dcpa events" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Dcpa events</h1>
    <%= link_to "New dcpa event", new_dcpa_event_path, class: "btn" %>
  </div>

  <div id="dcpa_events" class="min-w-full">
    <% @dcpa_events.each do |dcpa_event| %>
      <%= render dcpa_event %>
      <p>
        <%= link_to "Show this dcpa event", dcpa_event, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
