---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/billing_requests
    body:
      encoding: UTF-8
      string: '{"billing_requests":{"payment_request":{"description":"new payment","amount":200,"currency":"GBP"},"mandate_request":{"scheme":"bacs"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Gocardless-Client-Library:
      - gocardless-pro-ruby
      Gocardless-Client-Version:
      - 4.2.0
      Authorization:
      - Bearer <GOCARDLESS_TOKEN>
      Idempotency-Key:
      - b1932923-7da5-4fa8-adb6-98f9849e458b
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - "/enterprise/billing_requests/BRQ01KJ6WEQ69KSD8RC5S3KQ1S5F6"
      Etag:
      - W/"d0d312cdaa9998a716f69605c850ccb5"
      Ratelimit-Limit:
      - '1600'
      Ratelimit-Remaining:
      - '1599'
      Ratelimit-Reset:
      - Tue, 24 Feb 2026 03:53:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"billing_requests":{"id":"BRQ01KJ6WEQ69KSD8RC5S3KQ1S5F6","created_at":"2026-02-24T03:52:58.823Z","status":"pending","mandate_request":{"consent_type":null,"currency":"GBP","constraints":null,"scheme":"bacs","sweeping":false,"verify":"recommended","links":{},"metadata":{},"description":null,"payer_requested_dual_signature":false},"payment_request":{"description":"new
        payment","currency":"GBP","amount":200,"min_amount":null,"max_amount":null,"default_min_amount":null,"default_max_amount":null,"app_fee":null,"scheme":"faster_payments","links":{},"metadata":{},"flexible_amount":false,"reference":null,"funds_settlement":"managed","retry_if_possible":false},"subscription_request":null,"instalment_schedule_request":null,"metadata":null,"links":{"customer":"CU01KJ6WEQ59ZT5GMSXR01VCBDES","customer_billing_detail":"CBD01KJ6WEQ5XMPQJKDYZFS47F595","creditor":"CR01KJ23VTDBS191WD1X9N1N0HKD","organisation":"OR01KJ23VTBBMK4HF6K5R3G7A4H0","payment_request":"PRQ01KJ6WEQ66Z7MFX","mandate_request":"MRQ01KJ6WEQ5ZP05D6"},"fallback_enabled":false,"fallback_occurred":false,"sign_flow_url":null,"auto_fulfil":true,"creditor_name":"Goadway","actions":[{"type":"choose_currency","required":true,"completes_actions":[],"requires_actions":[],"status":"completed","available_currencies":["GBP","EUR"]},{"type":"collect_amount","required":true,"completes_actions":[],"requires_actions":[],"status":"completed"},{"type":"collect_customer_details","required":true,"completes_actions":[],"requires_actions":["choose_currency","collect_amount"],"status":"pending","collect_customer_details":{"incomplete_fields":{"customer":["email","given_name","family_name"],"customer_billing_detail":["address_line1","city","postal_code","country_code"]},"default_country_code":"GB"}},{"type":"select_institution","required":true,"completes_actions":[],"requires_actions":[],"status":"pending","institution_guess_status":"pending"},{"type":"collect_bank_account","required":true,"completes_actions":["choose_currency"],"available_country_codes":["GB"],"requires_actions":["collect_amount"],"status":"pending"},{"type":"confirm_payer_details","required":true,"completes_actions":[],"requires_actions":["collect_customer_details","collect_bank_account"],"status":"pending"},{"type":"bank_authorisation","required":true,"completes_actions":[],"requires_actions":["select_institution","collect_customer_details"],"status":"pending","bank_authorisation":{"authorisation_type":"payment","adapter":"open_banking_gateway_pis"}}],"resources":{"customer":{"id":"CU01KJ6WEQ59ZT5GMSXR01VCBDES","created_at":"2026-02-24T03:52:58.790Z","email":null,"given_name":null,"family_name":null,"company_name":null,"language":"en","phone_number":null,"metadata":{}},"customer_billing_detail":{"id":"CBD01KJ6WEQ5XMPQJKDYZFS47F595","created_at":"2026-02-24T03:52:58.811Z","address_line1":null,"address_line2":null,"address_line3":null,"city":null,"region":null,"postal_code":null,"country_code":null,"swedish_identity_number":null,"danish_identity_number":null}},"experimentation":{"is_eligible_for_share_of_wallet_experiments":true}}}'
  recorded_at: Tue, 24 Feb 2026 03:52:58 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/billing_request_flows
    body:
      encoding: UTF-8
      string: '{"billing_request_flows":{"redirect_uri":"https://my-company.com/landing","exit_uri":"https://my-company.com/exit","prefilled_customer":{"given_name":"Test","family_name":"User","email":"user1@example.com"},"links":{"billing_request":"BRQ01KJ6WEQ69KSD8RC5S3KQ1S5F6"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Gocardless-Client-Library:
      - gocardless-pro-ruby
      Gocardless-Client-Version:
      - 4.2.0
      Authorization:
      - Bearer <GOCARDLESS_TOKEN>
      Idempotency-Key:
      - 82c25496-441c-4bf5-866e-be8cc871692a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b828bb98d432af09fb2841348e4f53d"
      Ratelimit-Limit:
      - '1600'
      Ratelimit-Remaining:
      - '1598'
      Ratelimit-Reset:
      - Tue, 24 Feb 2026 03:53:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"billing_request_flows":{"id":"BRF01KJ6WEQCHNQ2G6YSXH2QH9R3N3E9","auto_fulfil":true,"redirect_uri":"https://my-company.com/landing","skip_success_screen":false,"exit_uri":"https://my-company.com/exit","authorisation_url":"https://pay-sandbox.gocardless.com/billing/static/flow?id=BRF01KJ6WEQCHNQ2G6YSXH2QH9R3N3E9","lock_customer_details":false,"lock_bank_account":false,"session_token":null,"expires_at":"2026-03-03T03:52:59.019Z","created_at":"2026-02-24T03:52:59.024Z","links":{"billing_request":"BRQ01KJ6WEQ69KSD8RC5S3KQ1S5F6"},"config":{"merchant_contact_details":{"email":"info@goadway.com","phone_number":null,"url":null,"name":"Goadway"},"scheme_identifiers":[{"scheme":"bacs","advance_notice":3,"name":"GoCardless
        Ltd","reference":"275069","address":"Sutton Yard, 65 Goswell Road, London,
        EC1V 7EN, GB","bank_statement_name":"GoCardless Ltd","registered_name":"GoCardless
        Ltd"},{"scheme":"autogiro","advance_notice":8,"name":"GoCardless","reference":"3171634","address":"Sutton
        Yard, 65 Goswell Road, London, EC1V 7EN, GB","bank_statement_name":"GoCardless","registered_name":"GoCardless"},{"scheme":"becs","advance_notice":0,"name":"GoCardless","reference":"488299","address":"Level
        9, 401 Collins Street, Melbourne, VIC 3000, AU","bank_statement_name":"GoCardless","registered_name":"GoCardless"},{"scheme":"betalingsservice","advance[...]
