---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/billing_requests
    body:
      encoding: UTF-8
      string: '{"billing_requests":{"payment_request":{"description":"new payment","amount":200,"currency":"GBP"},"mandate_request":{"scheme":"pad","consent_type":"recurring","currency":"GBP"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Gocardless-Client-Library:
      - gocardless-pro-ruby
      Gocardless-Client-Version:
      - 4.2.0
      Authorization:
      - Bearer <GOCARDLESS_TOKEN>
      Idempotency-Key:
      - c3359285-5336-48a1-8413-efcc2d608586
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1600'
      Ratelimit-Remaining:
      - '1599'
      Ratelimit-Reset:
      - Mon, 23 Feb 2026 05:18:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"This functionality is not supported for the given
        currency","errors":[{"reason":"currency_doesnt_support_functionality","message":"This
        functionality is not supported for the given currency"}],"documentation_url":"https://developer.gocardless.com/api-reference#currency_doesnt_support_functionality","type":"invalid_state","request_id":"23BF3276D0E0_0A1447491F92_699BE213_335780001","code":422}}'
  recorded_at: Mon, 23 Feb 2026 05:17:31 GMT
recorded_with: VCR 6.4.0
