---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/billing_requests
    body:
      encoding: UTF-8
      string: '{"billing_requests":{"mandate_request":{"scheme":"bacs"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Gocardless-Client-Library:
      - gocardless-pro-ruby
      Gocardless-Client-Version:
      - 4.2.0
      Authorization:
      - Bearer <GOCARDLESS_TOKEN>
      Idempotency-Key:
      - dde037fd-723c-4b05-9236-31a93c05293b
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - "/enterprise/billing_requests/BRQ01KMGWZF0AHT34NB7H5XCJ9WXC"
      Etag:
      - W/"a263e1997b05c7d7d4008aa4dd644226"
      Ratelimit-Limit:
      - '1600'
      Ratelimit-Remaining:
      - '1599'
      Ratelimit-Reset:
      - Tue, 24 Mar 2026 21:46:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"billing_requests":{"id":"BRQ01KMGWZF0AHT34NB7H5XCJ9WXC","created_at":"2026-03-24T21:45:55.464Z","status":"pending","mandate_request":{"consent_type":null,"currency":"GBP","constraints":null,"scheme":"bacs","sweeping":false,"verify":"recommended","links":{},"metadata":{},"description":null,"payer_requested_dual_signature":false},"payment_request":null,"subscription_request":null,"instalment_schedule_request":null,"metadata":null,"links":{"customer":"CU01KMGWZEZTK8252APN1N6WQ5V5","customer_billing_detail":"CBD01KMGWZF04DR8NQFNACSE9WMZY","creditor":"CR01KJ23VTDBS191WD1X9N1N0HKD","organisation":"OR01KJ23VTBBMK4HF6K5R3G7A4H0","mandate_request":"MRQ01KMGWZF077AY8S"},"fallback_enabled":false,"fallback_occurred":false,"sign_flow_url":null,"auto_fulfil":true,"creditor_name":"Goadway","actions":[{"type":"choose_currency","required":true,"completes_actions":[],"requires_actions":[],"status":"completed","available_currencies":["USD","SEK","GBP","AUD","NZD","DKK","CAD","EUR"]},{"type":"collect_customer_details","required":true,"completes_actions":[],"requires_actions":["choose_currency"],"status":"pending","collect_customer_details":{"incomplete_fields":{"customer":["email","given_name","family_name"],"customer_billing_detail":["address_line1","city","postal_code","country_code"]},"default_country_code":"GB"}},{"type":"collect_bank_account","required":true,"completes_actions":["choose_currency"],"available_country_codes":["GB"],"requires_actions":[],"status":"pending"},{"type":"confirm_payer_details","required":true,"completes_actions":[],"requires_actions":["collect_customer_details","collect_bank_account"],"status":"pending"},{"type":"bank_authorisation","required":false,"completes_actions":["collect_bank_account"],"requires_actions":["select_institution"],"status":"pending","bank_authorisation":{"authorisation_type":"mandate","adapter":"open_banking_gateway_ais"}}],"resources":{"customer":{"id":"CU01KMGWZEZTK8252APN1N6WQ5V5","created_at":"2026-03-24T21:45:55.447Z","email":null,"given_name":null,"family_name":null,"company_name":null,"language":"en","phone_number":null,"metadata":{}},"customer_billing_detail":{"id":"CBD01KMGWZF04DR8NQFNACSE9WMZY","created_at":"2026-03-24T21:45:55.458Z","address_line1":null,"address_line2":null,"address_line3":null,"city":null,"region":null,"postal_code":null,"country_code":null,"swedish_identity_number":null,"danish_identity_number":null}},"experimentation":{"is_eligible_for_share_of_wallet_experiments":true}}}'
  recorded_at: Tue, 24 Mar 2026 21:45:55 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/billing_request_flows
    body:
      encoding: UTF-8
      string: '{"billing_request_flows":{"redirect_uri":"http://localhost:3000/payments/landing","exit_uri":"http://localhost:3000/payments/exit","prefilled_customer":{"given_name":"Test","family_name":"User","email":"user1@example.com","address_line1":"","postal_code":"","city":"","country_code":""},"links":{"billing_request":"BRQ01KMGWZF0AHT34NB7H5XCJ9WXC"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Gocardless-Client-Library:
      - gocardless-pro-ruby
      Gocardless-Client-Version:
      - 4.2.0
      Authorization:
      - Bearer <GOCARDLESS_TOKEN>
      Idempotency-Key:
      - 9c5aee34-1609-4bfa-994a-08f77f30df42
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a7b548f117e758c829d3c9e54dcdbcc"
      Ratelimit-Limit:
      - '1600'
      Ratelimit-Remaining:
      - '1598'
      Ratelimit-Reset:
      - Tue, 24 Mar 2026 21:46:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"billing_request_flows":{"id":"BRF01KMGWZF6HSQ99X38P4Z1P2SGMXPG","auto_fulfil":true,"redirect_uri":"http://localhost:3000/payments/landing","skip_success_screen":false,"exit_uri":"http://localhost:3000/payments/exit","authorisation_url":"https://pay-sandbox.gocardless.com/billing/static/flow?id=BRF01KMGWZF6HSQ99X38P4Z1P2SGMXPG","lock_customer_details":false,"lock_bank_account":false,"session_token":null,"expires_at":"2026-03-31T21:45:55.660Z","created_at":"2026-03-24T21:45:55.662Z","links":{"billing_request":"BRQ01KMGWZF0AHT34NB7H5XCJ9WXC"},"config":{"merchant_contact_details":{"email":"info@goadway.com","phone_number":null,"url":null,"name":"Goadway"},"scheme_identifiers":[{"scheme":"bacs","advance_notice":3,"name":"GoCardless
        Ltd","reference":"275069","address":"Sutton Yard, 65 Goswell Road, London,
        EC1V 7EN, GB","bank_statement_name":"GoCardless Ltd","registered_name":"GoCardless
        Ltd"},{"scheme":"autogiro","advance_notice":8,"name":"GoCardless","reference":"3171634","address":"Sutton
        Yard, 65 Goswell Road, London, EC1V 7EN, GB","bank_statement_name":"GoCardless","registered_name":"GoCardless"},{"scheme":"becs","advance_notice":0,"name":"GoCardless","reference":"488299","address":"Level
        9, 401 Collins Street, Melbourne, VIC 3000, AU","bank_statement_name":"GoCardless","registered_name":"GoCardless"},{"scheme":"betalingsservice","advance[...]
