<div id="tab-profile" class="tab-content">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Account Information -->
    <%= render 'components/info_cards/profile_card' , title:"Account Information", data: {username: @user.username, role: @user.role}%>

    <!-- Contact Information -->
    <%= render 'components/info_cards/profile_card' , title:"Contact Information", data: {email: @user.username, phone: @user.role, address: @user.address}%>
  </div>
</div>