<div class="">
   <form class="mt-2 mb-3">
      <label for="review" class="sr-only">Your message</label>
      <div class="flex items-center  py-2 rounded-lg ">
         <textarea id="review" rows="1" class="block mx-4 p-2.5 w-full text-sm  rounded-lg border bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 <%=@status[level.id]%>" placeholder="Your message..." <%=@status[level.id]%>></textarea>
         <button type="submit" class="inline-flex justify-center p-2  rounded-full cursor-pointer ">
            <svg class="w-5 h-5 rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
               <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"></path>
            </svg>
            <span class="sr-only">Send message</span>
         </button>
      </div>
   </form>
</div>