<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">

   <%= render 'components/back_button'%>
   <div class="text-base font-semibold">
     <a href="/athlete_profiles/new" class=" flex flex-row gap-2  w-72 text-gray-900 rounded-lg py-2 px-4">
            <span class="material-symbols-outlined">
                add_circle
            </span>
            <span> Add an Athlete to group</span>
      </a>
   </div> 
   <% enum_hash = {0 => "development", 1 => "intermediate", 2 => "advance"} %>
   <%if !@athletes.empty?%>
      <div class="flex flex-row flex-wrap gap-4 justify-center lg:justify-left mt-4 p-4">
         <% @athletes.each do |athlete|%>
               <%= render 'athlete_profiles/main/athlete_level_card' , 'athlete': athlete%>
         <%end%>
      </div>
   <%else%>
      <div class="flex justify-center">
         <span> There are no athletes at this level </span>
      </div>
   <% end %>
</div>