<%= @billing_requests.inspect%>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @billing_requests.each do |brq| %>
      <tr>
        <td><%= brq.id %></td>
        <td><%= brq.status %></td>
        <td><%= brq.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>