<div id="<%= dom_id kpi_category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= kpi_category.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= kpi_category.description %>
  </p>
</div>
