<% content_for :title, "New kpi category" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New kpi category</h1>

  <%= render "form", kpi_category: @kpi_category %>

  <%= link_to "Back to kpi categories", kpi_categories_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
