@tailwind base;
@tailwind components;
@tailwind utilities;


/* Sign In Styling */

:root[data-theme="light"] {
  --bg: #FCF0EE;
  --text: #242424;
  --secondary: #cfcfcf;
  --accent: #A5C224;
  --margin-lg: 0 12%;
  --margin-md: 0 6%;
  --static-color: rgba(0, 0, 0, 0.03);
  --shadow : rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  --hover : rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --mimo: #85f120;
  --special-color: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
}

:root[data-theme="dark"]{
  --bg: #242424;
  --text: #FCF0EE;
  --secondary: #eeeeed;
  --accent: #85f120;
  --margin-lg: 0 12%; 
  --margin-md: 0 6%; 
  --shadow : rgba(231, 231, 231, 0.3) 0px 2px 8px 0px;
  --hover : rgba(231, 231, 231, 0.35) 0px 5px 15px;
  --mimo : conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
  --special-color: conic-gradient(from 90deg at 40% -25%, #49fb35 , #33f71e, #28fc10, #19e203, #15c002);
}

html, body {
  background-color: var(--bg);
  color:var(--text);
  height: 100%;
  width:100%;
  margin: 0;
}

.password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right:20px;
  }
  
  /* Style the eye icon when password is visible */
  .password-visible .toggle-password {
    color: #007bff;
  }
  
  /* mobile view */
  
  @media (max-width: 768px) {
    .form {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border-radius: 0;
    }
    .form .form-control {
      border-radius: 0;
    }
    .form .form-control:focus {
      border-color: #007bff;
      box-shadow: none;
    }
    .form .form-control:focus + .input-group-append .input-group-text {
      border-color: #007bff;
    }
    .form .input-group-text {
      border-radius: 0;
    }
    .form .input-group-text i {
      font-size: 18px;
    }
    .form .btn-block {
      border-radius: 0;
    }
    .form h1 {
      font-size: 32px;
      text-align: center;
    }
  
    .form p {
      font-size: 14px;
      text-align: center;
    }
  
  }
  
  .coverside{
      background-color:#b42429;
    /* height:100%; */
  }


  /* Sign Up  */

  .password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right:20px;
  }
  
  /* Style the eye icon when password is visible */
  .password-visible .toggle-password {
    color: #007bff;
  }
  
  /* Seach box Styling */

  .searchbox {
    display: flex;
    flex-direction: column;
  }

  section {
    display:none;

    &:target{
        display:flex;
        flex-direction: column;
    }
}

.athlete-form-container{
  padding:100px 50px 100px 50px;
}

#suggestions-container{
  border-radius: 5px;
  background-color: #e5e5e5;
  color: #242424;
  margin-left:45px;
}

article{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.suggestions-box{
  padding:10px;
}

.suggestions-box:hover{
  background-color: lightseagreen;
}
.confirm-btn {
  border-radius: 0.25rem;
  border: 1px solid lightgrey;
  padding:0.75rem;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #007bff;
  color:#e5e5e5;
}


/* SIGN UP FORM */
.sign-up-form{
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top:5%;
    max-height: 800px;
}



.form-fields{
  display:flex;
  flex-direction: row;
  gap:10px;
}


@media (max-width: 768px){
  .sign-up-form{
    width: 100%;
    min-height: 100vh;
    padding:0;
    border-radius:0px;
    background-color: #f5f5f5;
}
article{
  width:100vw;
  height:100vh;
}
.form-fields{
  display:block;
}
.form {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.form .form-control {
  border-radius: 0;
}
.form .form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}
.form .form-control:focus + .input-group-append .input-group-text {
  border-color: #007bff;
}
.form .input-group-text {
  border-radius: 0;
}
.form .input-group-text i {
  font-size: 18px;
}
.form .btn-block {
  border-radius: 0;
}
.form h1 {
  font-size: 32px;
  text-align: center;
}

.form p {
  font-size: 14px;
  text-align: center;
}
}

.warning {
  border : 1px solid #d0416a;
  background-color: #d0416a;
  background-image: linear-gradient(135deg, #d0416a 0%, #c85076 46%, #f9d298 100%);
}

.no-visibility {
  visibility: hidden;
}