@tailwind base;
@tailwind components;
@tailwind utilities;
@import "cropperjs/dist/cropper.css";
@import "slim-select/dist/slimselect.css";

/* THEME PREFERENCES */
:root[data-theme="light"] {
    --bg: #f0f0fc;
    --text: #05061B;
    --primary: #AC312C;
    --secondary: #DBF0F0;
    --accent: #bbccdd;
    --static-color: rgba(253, 253, 253, 0.03);
    --shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    --hover: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* --special-color: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700); */
    --logo: url('./cfs-dark.png');
  }
  
  :root[data-theme="dark"] {
    --bg: #010039;
    --text: #FCF0EE;
    --primary: #AC312C;
    --secondary: #eeeeed;
    --accent: #AC312C;
    --static-color: rgba(253, 253, 253, 0.03);
    --shadow: rgba(231, 231, 231, 0.3) 0px 2px 8px 0px;
    --hover: rgba(231, 231, 231, 0.35) 0px 5px 15px;
    /* --special-color: conic-gradient(from 90deg at 40% -25%, #49fb35 , #33f71e, #28fc10, #19e203, #15c002); */
    --logo: url('./cfs-light.png');
  
  }
  


.btn {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
    border-radius: 0.25rem;
    min-width: 150px;
  }
  
  .btn:hover {
    background-color: var(--static-color);
    color: var(--primary);
  
  }
  
  .btnSecondary {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 0.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
    border-radius: 0.25rem;
    min-width: 150px;
  
  }
  
  .btnSecondary:hover {
    background-color: var(--static-color);
    color: var(--primary);
  }

/* User Profile */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 5px;
  
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  
/* Category colors */
.information_management {
    background-color: #fef2f2;
    color: #991b1b;
    text-transform: lowercase !important;
  }
  
  .technical_ability {
    background-color: #dbeafe;
    color: #1e40af;
    text-transform: lowercase !important;
  }
  
  .physical_strength {
    background-color: #dcfce7;
    color: #166534;
    text-transform: lowercase !important;
  }
  
  .motor_skills {
    background-color: #fef9c3;
    color: #854d0e;
    text-transform: lowercase !important
  }
  
  .performance_time {
    background-color: #f3e8ff;
    color: #6b21a8;
    text-transform: lowercase !important
  }
  
  /* Levels colors */
  .development {
    background-color: #f3f4f6;
    color: #1f2937;
    border: 1px solid #d1d5db;
  }
  
  .intermediate {
    background-color: #dbeafe;
    color: #1e40af;
    border: 1px solid #93c5fd;
  }
  
  .advanced {
    background-color: #ede9fe;
    color: #6b21a8;
    border: 1px solid #d8b4fe;
  }
  
  .Elite {
    background-color: #ffe4e6;
    color: #9f1239;
    border: 1px solid #fda4af;
  }
  
  .Pro {
    background-color: #fef3c7;
    color: #92400e;
    border: 1px solid #fcd34d;
  }