@tailwind base;
@tailwind components;
@tailwind utilities;


/* Sign In Styling */

   /* THEME PREFERENCES */
   :root[data-theme="light"] {
    --bg: #E6E5E5;
    --text: #1D0C0C;
    --primary:#C50212;
    --secondary: #DBF0F0;
    --accent: #bbccdd;
    --static-color: rgba(253, 253, 253, 0.03);
    --shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    --hover: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --special-color: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    --logo: url('./cfs-dark.png');
}

:root[data-theme="dark"]{
    --bg: #242424;
    --text: #FCF0EE;
    --primary:#85f120;
    --secondary: #eeeeed;
    --accent: #85f120;
    --static-color: rgba(253, 253, 253, 0.03);
    --shadow : rgba(231, 231, 231, 0.3) 0px 2px 8px 0px;
    --hover : rgba(231, 231, 231, 0.35) 0px 5px 15px;
    --special-color: conic-gradient(from 90deg at 40% -25%, #49fb35 , #33f71e, #28fc10, #19e203, #15c002);
    --logo: url('./cfs-light.png');

}

/* GENERAL STYLING */
body, h1 {margin: 0;padding: 0; height:100%;background-color: var(--bg);}
.main_screen {display: grid;grid-template-columns: 1fr 5fr 2fr;grid-template-rows: 1fr;height:100vh;color : var(--text);background-color: var(--bg);}
a{cursor: pointer;}
a:hover{opacity: 0.9;}
.icon_span{background-color: var(--accent);color: var(--text);padding:5px;border-radius: 50%;}
.icon_span:hover{opacity:0.9;}
.sport_item:hover{background-color: var(--accent);border-radius: 10px;}
.nav_item{padding:10px;}
.nav_item:hover{background-color: var(--accent);border-radius: 5px;color:var(--text);padding:10px;}
.h1, h2, h3 {font-family: 'Bangers', cursive;letter-spacing: 0.2em;}
.h4, h5, h6,p{font-family: 'McLaren', sans-serif;letter-spacing: 0.1em;}
/* COMPONENTS STYLING */

.btn{
  background-color: var(--primary);
  color:var(--secondary);
}

.warning-box{background-color: var(--primary);color:var(--secondary);font-weight: 500;}
.kpi-bar{background-color: var(--primary);color:var(--secondary);}

.shadow:before {
  content:"";
  position: absolute;
  inset: -5px;
  transform: translate(5px,3px);
  z-index: -1;
  background: var(--special-color);
  filter: blur(10px);
}
.link{color:var(--primary); text-decoration: none; cursor: pointer;font-weight: 300;}
/* LEFT SIDEBAR */
.l_sidebar{max-height: 100vh;}

.show-sidebar{display:grid !important;}


/* MAIN DASHBOARD */
.dashboard{border-radius: 2%;background-color:var(--static-color);margin-top:10px;margin-bottom: 10px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.dashboard_hero{
    background-image: linear-gradient(rgba(221, 197, 197, 0.5), rgba(0, 0, 0, 0.5)),url('./dash.jpg');
    height:250px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}
.dashboard_logo{height:120px;margin-bottom: 20px;background-image: var(--logo);background-repeat: no-repeat;background-size: contain;position: relative;margin-left:20px;}
.content{
    text-align: left;
    position: absolute;
    top: 20%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    color: white;
}
.content h2{
    font-weight: 600;
    font-size: 40px;
}
.mobile_navigation{display:none;}

.spot_light{
}


/* RIGHT SIDEBAR */

.general_card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background-color: var(--static-color);
  padding:20px;
}

.blog_card{
    min-height:200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: var(--static-color);
}


/* MOBILE AND TABLET VIEWS */
@media screen and (max-width: 1100px) {
    .l_sidebar{display: none !important;}
    .r_sidebar{display: none !important;}
     .main_screen {
        display: block !important;
        }
    .dashboard{margin-top:0px;height:100vh;}
    .child_card{grid-template-columns: 1fr !important;}
    }

    @media screen and (max-width: 1500px) {
    .r_sidebar{display: none !important;}
    .mobile_navigation{display:block !important;}
     .main_screen {
        display: grid;
        grid-template-columns: 1fr 4fr ;
        }
    }

/* ANIMATION */
.scale {
    transition: transform 0.5s ease;
    box-shadow: var(--shadow);
    padding:20px;
    border-radius: 10px;
}

.scale:hover {
    transform: scale(1.02);
}


/* ACCOUNTS */

.child_card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  align-items: center;
  padding:20px;
  border-radius: 10px;
  
  }
  
  .child_card:hover{
  background-color: var(--accent);
  color: var(--text);
  }

  .add_child_model{
    background-color: var(--bg);
    color:var(--text);
  }

  /* ATHLETE PROFILE PAGE */
  .profile-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    /* align-items:center; */
    border-radius: 10px;
    padding:40px;
    background-color: var(--static-color);
    color:var(--text);
    box-shadow: var(--shadow);
  
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay background color */
  }

  /* TABLES STYLING */
  table{margin-top: 100px;}
  tr:hover{
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
  }


  /*  */
.password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right:20px;
  }
  
  /* Style the eye icon when password is visible */
  .password-visible .toggle-password {
    color: #007bff;
  }
  
  /* mobile view */
  
  @media (max-width: 768px) {
    .form {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border-radius: 0;
    }
    .form .form-control {
      border-radius: 0;
    }
    .form .form-control:focus {
      border-color: #007bff;
      box-shadow: none;
    }
    .form .form-control:focus + .input-group-append .input-group-text {
      border-color: #007bff;
    }
    .form .input-group-text {
      border-radius: 0;
    }
    .form .input-group-text i {
      font-size: 18px;
    }
    .form .btn-block {
      border-radius: 0;
    }
    .form h1 {
      font-size: 32px;
      text-align: center;
    }
  
    .form p {
      font-size: 14px;
      text-align: center;
    }

    .form-container{
      max-width:400px;
    }

    .remember{
      display:block !important;
    }

    .athlete-form-container{
      padding:0!important;
    }
  
    .search-form{
      min-width: 300px !important;
    }
  }
  
  .coverside{
      background-color:#b42429;
    /* height:100%; */
  }


  /* Sign Up  */

  .password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right:20px;
  }
  
  /* Style the eye icon when password is visible */
  .password-visible .toggle-password {
    color: #007bff;
  }
  
  /* Seach box Styling */

  .searchbox {
    display: flex;
    flex-direction: column;
  }

  section {
    display:none;

    &:target{
        display:flex;
        flex-direction: column;
    }
}

.search-form{
  min-width:800px;
}
.athlete-form-container{
  padding:100px 50px 100px 50px;
}

#suggestions-container{
  border-radius: 5px;
  background-color: #e5e5e5;
  color: #242424;
  margin-left:45px;
}

article{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.suggestions-box{
  padding:10px;
}

.suggestions-box:hover{
  background-color: lightseagreen;
}
.confirm-btn {
  border-radius: 0.25rem;
  border: 1px solid lightgrey;
  padding:0.75rem;
  padding-left: 3rem;
  padding-right:3rem;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #007bff;
  color:#e5e5e5;
}


/* SIGN UP FORM */
.sign-up-form{
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top:5%;
    max-height: 800px;
}



.form-fields{
  display:flex;
  flex-direction: row;
  gap:10px;
}


@media (max-width: 768px){
  .sign-up-form{
    width: 100%;
    min-height: 100vh;
    padding:0;
    border-radius:0px;
    background-color: #f5f5f5;
}
article{
  width:100vw;
  height:100vh;
}
.form-fields{
  display:block;
}
.form {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.form .form-control {
  border-radius: 0;
}
.form .form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}
.form .form-control:focus + .input-group-append .input-group-text {
  border-color: #007bff;
}
.form .input-group-text {
  border-radius: 0;
}
.form .input-group-text i {
  font-size: 18px;
}
.form .btn-block {
  border-radius: 0;
}
.form h1 {
  font-size: 32px;
  text-align: center;
}

.form p {
  font-size: 14px;
  text-align: center;
}
}

.warning {
  /* border : 1px solid #d0416a;
  background-image: linear-gradient(135deg, #d0416a 0%, #c85076 46%, #f9d298 100%); */
  color:#f5f5f5;
}

.no-visibility {
  visibility: hidden;
}


/* LOGIN PAGE ANIAMATION */

@-webkit-keyframes bg-pan-right {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes bg-pan-right {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.bg-pan-right {
-webkit-animation: bg-pan-right 8s both;
        animation: bg-pan-right 8s both;
        animation: 8s ease 0s 1 normal both running bg-pan-left;
}

#box-object-gradient-hor {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear,right top,left top,from(#cc6aa5),color-stop(#3e91cc),to(#2dcca7));
  background-image: linear-gradient(270deg,#cc6aa5,#3e91cc,#2dcca7);
  background-size: 600% 100%;
}


/* FLASH MESSAGES STYLING */

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        padding:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        padding:0;
        visibility:hidden;
    }
}

@keyframes slidein {
  from {
    right: -250px;
    /* width: 300%; */
  }

  to {
    right: 0;
    /* width: 100%; */
  }
}


.slide-pop-up{
  animation-duration: 1.5s;
  animation-name: slidein;
}
.alert{

}

.notice{

}

.success{

}

/* LOGIN FORM */


.remember{
  display:flex; 
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}
.form-container{
  width: 550px;
}

.inputWidth{min-width:236px;}