<div id="<%= dom_id step_exercise %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Step:</strong>
    <%= step_exercise.step_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Exercise:</strong>
    <%= step_exercise.exercise_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= step_exercise.order %>
  </p>
</div>
