

<ul class="flex flex-wrap text-sm font-medium text-center border-b border-gray-200 0">
    <li class="me-2">
        <a href="#" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active ">All Users</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg tab-item">Athlete's Parents</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg ">Junior Athletes</a>
    </li>
    <li class="me-2">
        <a href="#" class="inline-block p-4 rounded-t-lg ">Athletes</a>
    </li>
</ul>
